body {
    padding: 24px;
    background: #fff url('/assets/images/web/background.jpg') no-repeat center bottom !important;
  }

  nz-content {
    padding: 0 50px;
  }

  .form{
      background-color: #fff;
      text-align: center;
      padding: 2em;
  }