<nz-layout class="app-layout main-header">
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <a href="#" target="_blank">
          <img class="logo" src="./assets/images/logo-only.png" alt="logo">
          <img class="text" src="./assets/images/text-only.png" alt="logo">
          <!-- <h1>HAVINA</h1> -->
        </a>
      </div>
      
    <!-- LEFT MENU -->
    <aio-sidebar [isCollapsed]="isCollapsed"></aio-sidebar>
    
    <!-- END LEFT MENU -->

    </nz-sider>

    <nz-layout>
      <app-cpn-header [isCollapsed]="isCollapsed" (changeMenu)="changeMenu($event)"></app-cpn-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>